<footer class="wrapper-x footer-container pt-1
">
    {% include breadcrumb.html %}
    <section class=" footernav">
        <h3 class="sr">footer navigation</h3>
        <section class="hide-mediumup">
            <ul uk-accordion>
                <li class="">
                    <a class="uk-accordion-title" href="#">Explore</a>
                    <ul class="none picotext opacity-7 uk-accordion-content">
                        <li><a href="">Mac</a></li>
                        <li><a href="">iPad</a></li>
                        <li><a href="">iPhone</a></li>
                        <li><a href="">Music</a></li>
                        <li><a href="">iTunes</a></li>
                        <li><a href="">iPOd touch</a></li>
                    </ul>
            
                </li>
                <li>
                    <a class="uk-accordion-title" href="#">Account</a>
                    <ul class="none picotext opacity-7 uk-accordion-content pos-rel">
                        <li><a href="">Manage Your Apple ID</a></li>
                        <li><a href="">iCloud.com</a></li>
                    </ul>
                
                </li>
                <li>
                    <a class="uk-accordion-title" href="#">People</a>
                    <ul class="none picotext opacity-7 uk-accordion-content">
                        <li><a href="">Newsroom</a></li>
                        <li><a href="">Apple Leadership</a></li>
                        <li><a href="">Investors</a></li>
                    </ul>
                </li>
            </ul>
        </section>
        <section class="d-flx medium-nav">
            <div class="explore">
                <h4 class="picotext my-0 l-sp-0">Explore</h4>
                <ul class="none picotext opacity-7">
                        <li><a href="" class="link">Mac</a></li>
                        <li><a href="" class="link">iPad</a></li>
                        <li><a href="" class="link">iPhone</a></li>
                        <li><a href="" class="link">Music</a></li>
                        <li><a href="" class="link">iTunes</a></li>
                        <li><a href="" class="link">iPOd touch</a></li>
                </ul>
            </div>
            <div class="account">
                <h4 class="picotext  my-0 l-sp-0">Account</h4>
                <ul class="none picotext opacity-7">
                    <li><a href="" class="link">Manage Your Apple ID</a></li>
                    <li><a href="" class="link">iCloud.com</a></li>
                </ul>
            </div>
            <div class="people">
                <h4 class="picotext  my-0 l-sp-0">About Apple </h4>
                <ul class="none picotext opacity-7">
                    <li><a href="" class="link">Newsroom</a></li>
                    <li><a href="" class="link">Apple Leadership</a></li>
                    <li><a href="" class="link">Investors</a></li>
                </ul>
            </div>
        </section>
    </section> 
    <div class="border-bottom">
        <p class="picotext ">Where to buy: <span><a href="" class="co-link-color"> find a reseller</a></span></p>
    </div> 
    <section class="legal">
        <h3 class="sr">legal</h3>
        <small class="opacity-7 copyright">Copyright © 2018 Apple Inc. All rights reserved.</small>
        <div class="opacity-8">
            <a href="" class="picotext">Terms of Use |</a>
            <a href="" class="picotext">Site Map</a>
        </div>
    </section>

</footer>